<link rel="stylesheet" href="/stylesheets/style.css" />

<% countries.forEach(country => {%>
<h1>
  <%=country.name%><span> speaks </span> <%=country.facts.language%><span
    >, their capital city is </span
  ><%=country.facts.language%><span>, and the President is </span
  ><%=country.facts.president%>
</h1>
<%});%>
