<h1>
  You have posted: <%=country.name%><span> speaks </span>
  <%=country.facts.language%><span>, their capital city is </span
  ><%=country.facts.capital%><span>, and the President is </span
  ><%=country.facts.president%>
</h1>
